{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Categoria 2</title>
        <!--stylesheet-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <!--fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <p>JAGUARETE KAA S.A.</p>
        </div>
        <div class="container">
            <nav class="nav-main">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="nav-brand">
                <ul class="nav-menu">
                    <li>
                        <a href="{% url 'USUARIO:home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'USUARIO:categories' %}">Categorias</a>
                    </li>
                    <li>
                        <a href="{% url 'USUARIO:about' %}">Acerca de</a>
                    </li>
                    <li>
                        <a href="{% url 'USUARIO:contact' %}">Contacto</a>
                    </li>
                </ul>
                <ul class="nav-menu-right">
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'USUARIO:registro' %}">Registro</a>
                        <a href="{% url 'USUARIO:buscar' %}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a title="carrito" href="shop.html"><img src="https://img.icons8.com/nolan/64/shopping-cart.png" alt="carrito"/></a>
                    </li>
                </ul>
            </nav>
            <hr>
            <div class="cat1-products">
                <div class="cat1-product1">
                    <div class="parc">
                        <a href="{% url 'USUARIO:product4' %}">Longboard</a>
                        <p>Longboard Rimable La plataforma desplegable reduce el centro de gravedad para un mayor control.</p>
                    </div>
                </div>
                <div class="cat1-product2">
                    <div class="parc">
                        <a href="{% url 'USUARIO:product5' %}">Libro: Reina Roja</a>
                        <p>Juan Gómez-Jurado. Primera edición.</p>
                    </div>
                </div>
                <div class="cat1-product3">
                    <div class="parc">
                        <a href="{% url 'USUARIO:product6' %}">Libro: Loba Negra</a>
                        <p>Juan Gómez-Jurado. Segunda edición.</p>
                    </div>
                </div>
            </div>
            <section class="social">
                <p>Follow JAGUARETE KAA</p>
                <div class="links">
                  <a href="https://facebook.com">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="https://twitter.com">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="https://linkdin.com">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </div>
            </section>
        </div>
    </body>
</html>