{% extends "index/layout.html" %}
{% block content %}
    <div class="contact">
        <h1>Contactos</h1>
        <div class="par1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quia eligendi ex optio adipisci totam. A consectetur consequuntur nesciunt possimus reiciendis omnis, aliquam illo aspernatur dolorum architecto. Similique ea, aliquam fugiat natus molestiae veniam maxime distinctio illo. Ex deserunt facilis vel, sit, fugit, aliquid eius molestias possimus voluptas veniam enim.</p>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum excepturi repudiandae harum neque exercitationem. Temporibus voluptas adipisci accusantium fuga ipsam officiis vel ut earum nisi ducimus laboriosam velit, delectus sunt vero. Ut voluptates dolorum maiores distinctio laudantium nisi saepe ea eius consequatur facere optio voluptatibus, in eaque. Earum, vero ullam?</p>
        </div>
    </div>
{% endblock %}